*{
    background-color: rgb(16, 35, 69);
    color: rgb(255, 255, 175);
    font-family: 'Press Start 2P';
}

.custom-box{
    align-items: center;
    justify-content: center;
    gap: 15px;
}

p{
    display: inline;
}
.square{
    width: 8rem;
    height: 8rem;
    border: 7px solid black;
    margin: 15px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}

.green, .green>*{
    background-color: green;
    color: green;
}
.red, .red>*{
    background-color: red;
    color: red;
}
.yellow{
    background-color: yellow;
    color: yellow;
}
.blue{
    background-color: blue;
    color: blue;
}

